name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'ballerina-platform'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Generating Artifacts for Scanning
        run: ./gradlew build -x check -x test
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '/github/workspace/choreo-extension-ballerina/lib'
          format: 'table'
          timeout: '6m0s'
          exit-code: '1'
      - name: Build with Gradle
        env:
          packageUser: ${{ secrets.BALLERINA_BOT_USERNAME }}
          packagePAT: ${{ secrets.BALLERINA_BOT_TOKEN }}
          packagePublishRepo: ${{ github.repository }}
        run: |
          ./gradlew clean build publish --stacktrace --scan --console=plain --no-daemon
          ./gradlew codeCoverageReport --console=plain --no-daemon
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: distribution
          path: |
            choreo-extension-ballerina/build/distributions/choreo-extension-ballerina-*.zip
          if-no-files-found: error
